

img{
  width: 140px;
}
body {background-color: #EAF6F6;
}
h1{
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}
hr {
  background-color: white;
border-style: dotted none none none;
border-color: grey;
height: 0px;
width: 5%;
border-width:5px;

}


/*  class selector */
